/* CSS for body */
body {
    margin: 0px;
    padding: 0px;
}

/* CSS for div container */
.animation {
    position: relative;
    margin-top: 350px;
    left: 40%;
    list-style-type: none;
    animation: animate 7s linear 1 alternate;
}

/* Common styles for the circles */
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* CSS for red circle */
.circle-red {
    margin: 20px;
    padding: 10px;
    background-color: rgb(213, 42, 42);
}

/* CSS for green circle */
.circle-green {
    margin: 110px 20px 20px 20px;
    padding: 10px;
    background-color: rgb(30, 161, 89);
}

/* CSS for blue circle */
.circle-blue {
    margin: 110px 20px 20px 100px;
    padding: 10px;
    background-color: rgb(16, 107, 143);
}

/* CSS for orange circle */
.circle-orange {
    margin: 20px 20px 20px 100px;
    padding: 10px;
    background-color: rgb(202, 133, 15);
}

/* CSS animation */
@keyframes animate {
    0% {
        transform: scaleX(1.5);
    }

    25% {
        transform: scaleX(-0.1);
    }

    50% {
        transform: scaleY(-1.5);
    }

    75% {
        transform: scaleY(1.5); 
    }
}
